<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
    <%- include('partials/head'); -%>
        <meta name="description" content="<%=trans.seo.about.description%>">
        <meta name="keywords" content="<%=trans.seo.about.keywords%>">

        <title>
            <%=trans.links.about%> | Nourrisson Diffusion</title>
</head>

<body>
    <%- include('partials/header'); -%>


        <main class="my-32">
            <div class="flex md:flex-row flex-col justify-center items-center md:p-0 p-4" data-aos="fade-right">
                <div class="w-120 md:mr-12 md:p-0 p-8 pb-16 md:bg-transparent bg-white md:shadow-none shadow-md rounded-lg">
                    <h1 class="font-bold text-5xl mb-12"><span class="relative underligned">
                            <%=trans.about.title1.part1%>
                        </span>
                        <%=trans.about.title1.part2%>
                    </h1>
                    <p class="mb-4">
                        <%=trans.about.desc1%>
                    </p>
                    <ul class="list-disc">
                        <li class="ml-6">
                            <%=trans.about.li1%>
                        </li>
                        <li class="ml-6">
                            <%=trans.about.li2%>
                        </li>
                        <li class="ml-6">
                            <%=trans.about.li3%>
                        </li>
                        <li class="ml-6">
                            <%=trans.about.li4%>
                        </li>
                    </ul>
                </div>
                <div class="md:p-0 p-4">
                    <img class="w-120 md:mt-0 -mt-14 rounded-md" src="/assets/about/Perçage.jpg" />
                </div>
            </div>

            <div class="flex flex-col items-center justify-center md:mt-24 my-12">
                <h1 class="text-center font-bold md:text-5xl my-2 text-4xl mb-12" data-aos="fade-down">
                    <%=trans.about.title2%>
                </h1>
                <p class="text-xl text-center" data-aos="zoom-in-up">
                    <%=trans.about.desc2%>
                </p>
            </div>



            <div class="md:mt-32 flex md:flex-row-reverse md:flex-row flex-col justify-center items-center md:p-0 p-4" data-aos="fade-left">
                <div class="w-120 md:ml-12 md:p-0 p-8 pb-16 md:bg-transparent bg-white md:shadow-none shadow-md rounded-lg">
                    <h1 class="font-bold md:text-5xl text-4xl mb-12">
                        <span class="relative underligned mb-12">
                            <%=trans.about.title3.part1%>
                        </span>
                        <%=trans.about.title3.part2%>
                    </h1>
                    <p class="mb-8">
                        <%=trans.about.desc3%>
                    </p>
                    <p class="mb-8">
                        <%=trans.about.desc4%>
                    </p>

                    <p class="mb-8">
                        <%=trans.about.desc5%>
                    </p>
                    <p class="mb-8">
                        <%=trans.about.desc6%>
                    </p>
                </div>
                <div class="md:p-0 p-4">
                    <img class="w-120  md:mt-0 -mt-14 rounded-md" src="/assets/about/Mandrins autoserrants devant machine.jpg" />
                </div>
            </div>


            <div class="flex flex-col items-center justify-center px-2">
                <div>
                    <h1 class="text-center font-bold md:text-5xl  text-4xl mb-12 md:mt-24 mt-12" data-aos="fade-down">
                        <%=trans.about.title4%>
                    </h1>

                    <dl class="flex flex-col items-center" data-aos="zoom-in-up">
                        <dt class="font-bold text-3xl">1897</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1897%>
                        </dd>
                        <dt class="font-bold text-3xl mt-8">1917</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1917%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1919</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1919%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1925</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1925%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1930</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1930%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1973</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1973%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1984</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1984%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1985</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1985%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1995</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1995%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1997</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1997%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">1998</dt>
                        <dd class="text-center">
                            <%=trans.about.dd1998%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">2003</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2003%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">2011</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2011%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">2012</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2012%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">2015</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2015%>
                        </dd>

                        <dt class="font-bold text-3xl mt-8">2016</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2016.part1%><br/>
                                <%=trans.about.dd2016.part2%>

                        </dd>

                        <dt class="font-bold text-3xl mt-8">2019</dt>
                        <dd class="text-center">
                            <%=trans.about.dd2019.part1%><br/>
                                <%=trans.about.dd2019.part2%>

                        </dd>
                    </dl>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mt-32">
                <h1 class="text-center font-bold md:text-5xl text-4xl mb-12" data-aos="fade-down">
                    <%=trans.global.contactUsDesc%>
                </h1>
                <a href="/contact" class="flex  items-center font-semibold text-xl shadow  py-3 px-6  bg-primary hover-bg-primary-dark rounded-full" data-aos="zoom-in-up">
                    <span><%=trans.global.contactUs%></span>
                    <svg class="ml-2 w-5" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.6667 10.6667L28 16.0001M28 16.0001L22.6667 21.3334M28 16.0001H4" stroke="white"
                            stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
        </main>
        <%- include('partials/footer'); -%>
</body>

</html>