<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
    <%- include('partials/head'); -%>

        <meta name="google-site-verification" content="1uRmFlOch_177OzQOOLP7OsaKevm4p3GMpZUqRt68dg" />
        <meta name="description" content="<%=trans.seo.home.description%>">
        <meta name="keywords" content="<%=trans.seo.home.keywords%>">

        <script src="/assets/scripts/swiper.min.js"></script>

        <title>Nourrisson Diffusion</title>
</head>

<body>

    <%- include('partials/transparent-header'); -%>

        <main>
            <div class="relative flex w-full">
                <div class="z-20 absolute left-0 top-0 flex flex-col items-center justify-center w-full h-full text-white p-4">
                    <h1 data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-delay="300" class="mb-4 font-bold md:text-6xl text-4xl uppercase text-center">Nourrisson Diffusion</h1>

                    <a data-aos="fade-up" data-aos-delay="700" title="Qui sommes nous ?" href="#about" class="animate-bounce mt-10">
                        <svg class="md:w-16 w-14 -mb-4" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 51L36 63M36 63L24 51M36 63V9" stroke="white" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <video src="/home-page-video" class="filter-dark w-full h-auto md:min-h-auto min-h-screen object-cover" autoplay muted loop></video>
            </div>

            <div id="about" class="flex md:flex-row flex-col justify-center items-center md:p-0 md:pt-16 p-4 md:mt-8 mt-16">
                <div data-aos="fade-up-right" data-aos-duration="500" class="w-120 md:mr-12 md:p-0 p-8 pb-16 md:bg-transparent bg-white md:shadow-none shadow-md rounded-lg">
                    <h1 class="font-bold md:text-5xl text-4xl mb-12">
                        <span class="relative underligned">
                            <%=trans.home.title1.part1%>
                        </span>
                        <%=trans.home.title1.part2%>
                    </h1>
                    <p class="mb-8">
                        <%=trans.home.desc1%>
                    </p>
                    <p class="mb-8">
                        <%=trans.home.desc2%>
                    </p>

                    <a href="/about" class="flex w-max items-center font-semibold text-xl shadow  py-3 px-6  bg-primary hover-bg-primary-dark rounded-md">
                        <span>
                            <%=trans.links.about%>
                        </span>
                        <svg class="ml-2 w-5" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.6667 10.6667L28 16.0001M28 16.0001L22.6667 21.3334M28 16.0001H4" stroke="white"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>

                </div>
                <div data-aos="fade-up-left" data-aos-duration="500" class="headline relative">
                    <img class="w-140 md:p-0 p-4 md:mt-0 -mt-14 " src="/assets/home/qui somme nous.jfif" />
                </div>
            </div>

            <div class="relative bg-gray-color md:my-64 my-24">
                <svg class="absolute bottom-full left-0" viewBox="0 0 1440 164" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0 85.7701L80.4 66.2126C159.6 46.6551 320.4 7.54016 480 1.021C639.6 -5.49816 800.4 20.5785 960 40.136C1119.6 59.6934 1280.4 72.7318 1359.6 79.2509L1440 85.7701V164H1359.6C1280.4 164 1119.6 164 960 164C800.4 164 639.6 164 480 164C320.4 164 159.6 164 80.4 164H0L0 85.7701Z"
                        fill="#E8E8E8" />
                </svg>

                <h1 data-aos="zoom-in-up" data-aos-duration="500" class="font-bold md:text-6xl text-4xl text-center md:mb-16 mb-8">
                    <%=trans.home.topProducts.title%>
                </h1>


                <div data-aos="fade-up" data-aos-duration="600" class="flex justify-center md:mx-32">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex  items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none
                                text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex items-center">
                                <div class=" flex flex-col items-center m-8 w-64 relative">
                                    <img class="w-full h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/home/mandrin serrage manuel bleu.JPG" />
                                    <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                                        <h2 class="font-semibold text-lg">
                                            <%=trans.home.topProducts.prod1.title%>
                                        </h2>

                                        <p class="text-sm my-2">
                                            <%=trans.home.topProducts.prod1.desc%>
                                        </p>

                                        <a href="/contact" class="  flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                            <span>
                                                <%=trans.global.contactUs%>
                                            </span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class=" flex flex-col items-center m-8 w-64 relative">
                                    <img class="w-full h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/home/top produit restaurateur de filetage ISO.jpg" />
                                    <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                                        <h2 class="font-semibold text-lg ">
                                            <%=trans.home.topProducts.prod2.title%>
                                        </h2>
                                        <p class="text-sm my-2">
                                            <%=trans.home.topProducts.prod2.desc%>
                                        </p>
                                        <a href="/contact" class="  flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                            <span>
                                                <%=trans.global.contactUs%>
                                            </span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class=" flex flex-col items-center m-8 w-64 relative">
                                    <img class="w-full h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/home/FORET CARRELAGE.jpg" />
                                    <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                                        <h2 class="font-semibold text-lg ">
                                            <%=trans.home.topProducts.prod3.title%>
                                        </h2>
                                        <p class="text-sm my-2">
                                            <%=trans.home.topProducts.prod3.desc%>
                                        </p>
                                        <a href="/contact" class="  flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                            <span>
                                                <%=trans.global.contactUs%>
                                            </span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class=" flex flex-col items-center m-8 w-64 relative">
                                    <img class="w-full h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/home/FORET 1070.jpeg" />
                                    <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                                        <h2 class="font-semibold text-lg ">
                                            <%=trans.home.topProducts.prod4.title%>
                                        </h2>
                                        <p class="text-sm my-2">
                                            <%=trans.home.topProducts.prod4.desc%>
                                        </p>
                                        <a href="/contact" class="  flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                            <span>
                                                <%=trans.global.contactUs%>
                                            </span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <svg class="absolute top-full left-0" viewBox="0 0 1440 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1440 58.1954L1359.6 72.7443C1280.4 87.2931 1119.6 116.391 960 121.24C800.4 126.09 639.6 106.692 480 92.1428C320.4 77.5939 159.6 67.8947 80.3999 63.0451L0 58.1954V0H80.3999C159.6 0 320.4 0 480 0C639.6 0 800.4 0 960 0C1119.6 0 1280.4 0 1359.6 0L1440 0V58.1954Z"
                        fill="#E8E8E8" />
                </svg>

            </div>

            <div class="relative flex-col items-center">
                <h1 data-aos="zoom-in-up" data-aos-duration="800" class="font-bold md:text-6xl text-4xl text-center md:mb-32 mb-16">
                    <%=trans.global.categories%>
                </h1>

                <div class="flex flex-wrap items-center  justify-around px-8 w-full">
                    <div data-aos="fade-right" data-aos-duration="1000" class="block">
                        <div class="cat-card p-4">
                            <h2 class="text-3xl	 font-bold md:text-left text-center">
                                <%=trans.categories.cat1.title%>
                            </h2>
                            <p class="my-2 font-normal md:text-left text-center">
                                <%=trans.categories.cat1.desc%>
                            </p>
                            <a class=" flex items-center md:justify-start justify-center cl-primary
                                            font-semibold" href="/product/lfa-chucks">

                                <span>
                                    <%=trans.global.seeProds%>
                                </span>
                                <svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <div class="cat-card p-4">
                            <h2 class="text-3xl	 font-bold md:text-left text-center">
                                <%=trans.categories.cat2.title%>
                            </h2>
                            <p class="my-2 font-normal md:text-left text-center">
                                <%=trans.categories.cat2.desc%>
                            </p>
                            <a class=" flex items-center md:justify-start justify-center cl-primary
                                                                font-semibold" href="/product/drill-bits">

                                <span>
                                    <%=trans.global.seeProds%>
                                </span>
                                <svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1200" class="rounded-full circle-1 border-2 flex items-center justify-center my-8">
                        <div class="rounded-full circle-2 border-2 flex items-center justify-center">
                            <div class="rounded-full circle-3">
                                <img class="w-full h-full object-cover rounded-full" src="/assets/home/mix produit.jpg" />
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000" class="block">
                        <div class="cat-card p-4">
                            <h2 class="text-3xl	 font-bold md:text-left text-center">
                                <%=trans.categories.cat3.title%>
                            </h2>
                            <p class="my-2 font-normal md:text-left text-center">
                                <%=trans.categories.cat3.desc%>
                            </p>
                            <a class=" flex items-center md:justify-start justify-center cl-primary font-semibold" href="/product/thread-restorers">

                                <span>
                                    <%=trans.global.seeProds%>
                                </span>
                                <svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <div class="cat-card p-4">
                            <h2 class="text-3xl	 font-bold md:text-left text-center">
                                <%=trans.categories.cat4.title%>
                            </h2>
                            <p class="my-2 font-normal md:text-left text-center">
                                <%=trans.categories.cat4.desc%>
                            </p>
                            <a class=" flex items-center md:justify-start justify-center cl-primary
                                                                font-semibold" href="/product/milled-file">

                                <span>
                                    <%=trans.global.seeProds%>
                                </span>
                                <svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex md:flex-row flex-col justify-center items-center md:p-0 p-4 mt-32" data-aos="fade-right">
                <div class="w-120 md:mr-12 md:p-0 p-8 pb-16 md:bg-transparent bg-white md:shadow-none shadow-md rounded-lg">
                    <h1 class="font-bold md:text-5xl text-3xl mb-12">
                        <%=trans.home.title2%>
                    </h1>

                    <img class="mb-4" src="/assets/home/logo nourrisson tunisie.png" />


                    <p class="mb-4">
                        <%=trans.home.desc3%>
                    </p>


                    <a href="http://nourrisson-tunisie.tn/" target="_blank" class="inline-flex  items-center font-semibold text-xl shadow  py-3 px-6  bg-primary hover-bg-primary-dark rounded-md">
                        <span>
                            <%=trans.home.nourrissonTunisiaBtn%>
                        </span>
                        <svg class="ml-2 w-5" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.6667 10.6667L28 16.0001M28 16.0001L22.6667 21.3334M28 16.0001H4" stroke="white"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="md:p-0 p-4">
                    <img class="w-120  md:mt-0 -mt-14 rounded-md" src="/assets/home/Usinage chemise.jpg" />
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mt-32">
                <h1 class="text-center font-bold md:text-5xl text-4xl mb-12" data-aos="fade-down">
                    <%=trans.global.contactUsDesc%>
                </h1>
                <a href="/contact" class="flex  items-center font-semibold text-xl shadow  py-3 px-6  bg-primary hover-bg-primary-dark rounded-full" data-aos="zoom-in-up">
                    <span>
                        <%=trans.global.contactUs%>
                    </span>
                    <svg class="ml-2 w-5" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.6667 10.6667L28 16.0001M28 16.0001L22.6667 21.3334M28 16.0001H4" stroke="white"
                            stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>

        </main>

        <%- include('partials/footer'); -%>

</body>

</html>
