<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
    <%- include('partials/head'); -%>
        <meta name="description" content="<%=trans.seo.threadRestorers.description%>">
        <meta name="keywords" content="<%=trans.seo.threadRestorers.keywords%>">

        <script src="/assets/scripts/swiper.min.js"></script>
        <script src="/assets/scripts/products.min.js"></script>

        <title>
            <%=trans.categories.cat3.title%> | Nourrisson Diffusion</title>
</head>

<body>
    <%- include('partials/transparent-header'); -%>


        <main>
            <div class="relative flex w-full">
                <div class="z-20 absolute left-0 top-0 flex flex-col items-center justify-center w-full h-full text-white p-4">
                    <h1 data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-delay="300" class="font-bold md:text-6xl text-4xl uppercase text-center">
                        <%=trans.categories.cat3.title%>
                    </h1>
                    <p data-aos="fade-up" data-aos-delay="500" class=" text-center font-semibold w-140 text-gray-100 my-4">
                        <%=trans.categories.cat3.desc%>
                    </p>
                    <a data-aos="fade-up" data-aos-delay="700" title="see products" href="#products" class="animate-bounce mt-10">
                        <svg class="md:w-16 w-14" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 51L36 63M36 63L24 51M36 63V9" stroke="white" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <img class="filter-dark w-full h-auto md:min-h-auto min-h-screen object-cover" src="/assets/thread-restores/Restaurateurs-de-filets.jpg" />
            </div>

            <div id="products" class="flex flex-col justify-center pt-16">
                <h1 class="font-bold md:text-6xl text-4xl text-center mb-16" data-aos="fade-down" data-aos-easing="linear">
                    <%=trans.global.products%>
                </h1>
                <div class="flex flex-wrap items-center justify-center">

                    <div data-gallery-id="gallery-2" class=" flex flex-col items-center m-8" data-aos="fade-up">
                        <img class="w-64 h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/thread-restores/ISO/Filons ISO 1.jpg" />
                        <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                            <h2 class="font-semibold text-lg mb-2">
                                <%=trans.categories.cat3.prods.prod1.title%>
                            </h2>

                            <div class="flex items-center">
                                <button class="open-gallery-btn flex items-center cl-white px-3 py-2 mr-4 rounded-md bg-primary font-semibold focus:outline-none"><%=trans.global.gallery%></button>
                                <a href="/contact" class="flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                    <span><%=trans.global.contactUs%></span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div data-gallery-id="gallery-3" class=" flex flex-col items-center m-8" data-aos="fade-up">
                        <img class="w-64 h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/thread-restores/UNF-UNC/UNF-UNC1.jpg" />
                        <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                            <h2 class="font-semibold text-lg mb-2">
                                <%=trans.categories.cat3.prods.prod2.title%>
                            </h2>

                            <div class="flex items-center">
                                <button class="open-gallery-btn flex items-center cl-white px-3 py-2 mr-4 rounded-md bg-primary font-semibold focus:outline-none"><%=trans.global.gallery%></button>
                                <a href="/contact" class="flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                    <span><%=trans.global.contactUs%></span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div data-gallery-id="gallery-4" class=" flex flex-col items-center m-8" data-aos="fade-up">
                        <img class="w-64 h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/thread-restores/GAZ/GAZ1.jpeg" />
                        <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                            <h2 class="font-semibold text-lg mb-2">
                                <%=trans.categories.cat3.prods.prod3.title%>
                            </h2>

                            <div class="flex items-center">
                                <button class="open-gallery-btn flex items-center cl-white px-3 py-2 mr-4 rounded-md bg-primary font-semibold focus:outline-none"><%=trans.global.gallery%></button>
                                <a href="/contact" class="flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                    <span><%=trans.global.contactUs%></span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div data-gallery-id="gallery-1" class=" flex flex-col items-center m-8" data-aos="fade-up">
                        <img class="w-64 h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/thread-restores/SI/Filons SI 2.jpg" />
                        <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                            <h2 class="font-semibold text-lg mb-2">
                                <%=trans.categories.cat3.prods.prod4.title%>
                            </h2>

                            <div class="flex items-center">
                                <button class="open-gallery-btn flex items-center cl-white px-3 py-2 mr-4 rounded-md bg-primary font-semibold focus:outline-none"><%=trans.global.gallery%></button>
                                <a href="/contact" class="flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                    <span><%=trans.global.contactUs%></span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div data-gallery-id="gallery-5" class=" flex flex-col items-center m-8" data-aos="fade-up">
                        <img class="w-64 h-46 p-2 -mb-8 z-10 object-cover rounded-xl" src="/assets/thread-restores/WHITWORTH/Filons WHITWORTH.jpg" />
                        <div class="w-64 bg-white rounded-md border shadow-md p-4 pt-8">
                            <h2 class="font-semibold text-lg mb-2">
                                <%=trans.categories.cat3.prods.prod5.title%>
                            </h2>

                            <div class="flex items-center">
                                <button class="open-gallery-btn flex items-center cl-white px-3 py-2 mr-4 rounded-md bg-primary font-semibold focus:outline-none"><%=trans.global.gallery%></button>
                                <a href="/contact" class="flex items-center cl-primary hover-cl-primary-dark font-semibold">
                                    <span><%=trans.global.contactUs%></span><svg class="ml-2" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8L21 12M21 12L17 16M21 12H3" stroke="#845EC2" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>





                </div>


            </div>

            <div id="gallery-1" class="block  gallery  z-50 flex flex-col items-center justify-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50">
                <button class="close-gallery-btn focus:outline-none absolute right-0 top-0 mr-4 mt-4 z-10">
                    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8L8 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8 8L24 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <div data-aos="fade-up" data-aos-duration="600" class="flex relative w-full justify-center md:mx-32 mx-2">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2  rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex">

                                <div class="gallery-card relative flex flex-col items-center justify-center">
                                    <img class="object-cover rounded-md" src="/assets/thread-restores/SI/Filons SI.jpg" />
                                </div>

                                <div class="gallery-card relative  flex flex-col items-center justify-center">
                                    <img class="  object-cover rounded-md" src="/assets/thread-restores/SI/Filons SI 2.jpg" />
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="gallery-2" class="block  gallery  z-50 flex flex-col items-center justify-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50">
                <button class="close-gallery-btn focus:outline-none absolute right-0 top-0 mr-4 mt-4 z-10">
                    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8L8 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8 8L24 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <div data-aos="fade-up" data-aos-duration="600" class="flex relative w-full justify-center md:mx-32 mx-2">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2  rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex">

                                <div class="gallery-card relative flex flex-col items-center justify-center">
                                    <img class="object-cover rounded-md" src="/assets/thread-restores/ISO/Filons ISO 1.jpg" />
                                </div>

                                <div class="gallery-card relative  flex flex-col items-center justify-center">
                                    <img class="  object-cover rounded-md" src="/assets/thread-restores/ISO/Filons ISO 2.jpg" />
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="gallery-3" class="block  gallery  z-50 flex flex-col items-center justify-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50">
                <button class="close-gallery-btn focus:outline-none absolute right-0 top-0 mr-4 mt-4 z-10">
                    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8L8 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8 8L24 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <div data-aos="fade-up" data-aos-duration="600" class="flex relative w-full justify-center md:mx-32 mx-2">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2  rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex">

                                <div class="gallery-card relative flex flex-col items-center justify-center">
                                    <img class="object-cover rounded-md" src="/assets/thread-restores/UNF-UNC/UNF-UNC.jpg" />
                                </div>

                                <div class="gallery-card relative  flex flex-col items-center justify-center">
                                    <img class="  object-cover rounded-md" src="/assets/thread-restores/UNF-UNC/UNF-UNC1.jpg" />
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="gallery-4" class="block  gallery  z-50 flex flex-col items-center justify-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50">
                <button class="close-gallery-btn focus:outline-none absolute right-0 top-0 mr-4 mt-4 z-10">
                    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8L8 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8 8L24 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <div data-aos="fade-up" data-aos-duration="600" class="flex relative w-full justify-center md:mx-32 mx-2">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2  rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex">

                                <div class="gallery-card relative flex flex-col items-center justify-center">
                                    <img class="object-cover rounded-md" src="/assets/thread-restores/GAZ/Filons GAZ.jpg" />
                                </div>

                                <div class="gallery-card relative  flex flex-col items-center justify-center">
                                    <img class="  object-cover rounded-md" src="/assets/thread-restores/GAZ/GAZ1.jpeg" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="gallery-5" class="block  gallery  z-50 flex flex-col items-center justify-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50">
                <button class="close-gallery-btn focus:outline-none absolute right-0 top-0 mr-4 mt-4 z-10">
                    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8L8 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8 8L24 24" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <div data-aos="fade-up" data-aos-duration="600" class="flex relative w-full justify-center md:mx-32 mx-2">
                    <div class="swiper relative w-auto max-w-full">
                        <div class="absolute z-20 h-full flex items-center left-0 pl-2">
                            <button class="swiper-left-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2 rounded-lg">
                                <svg class="md:w-8 w-5 transform rotate-180" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute z-20 h-full flex items-center right-0 pr-2">
                            <button class="swiper-right-btn bg-primary hover-bg-primary-dark focus:outline-none text-white p-2  rounded-lg">
                                <svg class="md:w-8 w-5" fill="none" viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6.66667L21.3333 16L12 25.3333" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container overflow-y-hidden overflow-x-auto whitespace-no-wrap w-full">
                            <div class="inline-flex">

                                <div class="gallery-card relative flex flex-col items-center justify-center">
                                    <img class="object-cover rounded-md" src="/assets/thread-restores/WHITWORTH/Filons WHITWORTH 2.jpg" />
                                </div>

                                <div class="gallery-card relative  flex flex-col items-center justify-center">
                                    <img class="  object-cover rounded-md" src="/assets/thread-restores/WHITWORTH/Filons WHITWORTH.jpg" />
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </main>

        <%- include('partials/footer'); -%>

</body>

</html>