<footer class="relative flex flex-col items-center bg-dark mt-32 pb-12 px-4 w-full">

    <a class="my-16" href="/"><img class="logo md:w-64 w-40" src="/assets/logo-under-dark.svg" data-aos="zoom-in" /></a>

    <div class="flex md:flex-row flex-col items-start justify-center md:mb-32 mb-24">

        <div class="mr-16 md:block flex flex-col items-center md:w-auto w-full">
            <h2 class="text-2xl font-semibold uppercase my-8" data-aos="zoom-in-right">
                <%=trans.global.contactUs%>
            </h2>

            <a href="mailto: contact@nourrisson-diffusion.com" target="_blank" class="flex items-center mb-3" data-aos="zoom-in-right">
                <svg class="w-8 h-8" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 10.6667L14.52 17.6801C14.9582 17.9725 15.4732 18.1285 16 18.1285C16.5268 18.1285 17.0418 17.9725 17.48 17.6801L28 10.6667M6.66667 25.3334H25.3333C26.0406 25.3334 26.7189 25.0525 27.219 24.5524C27.719 24.0523 28 23.374 28 22.6667V9.33341C28 8.62617 27.719 7.94789 27.219 7.4478C26.7189 6.9477 26.0406 6.66675 25.3333 6.66675H6.66667C5.95942 6.66675 5.28115 6.9477 4.78105 7.4478C4.28095 7.94789 4 8.62617 4 9.33341V22.6667C4 23.374 4.28095 24.0523 4.78105 24.5524C5.28115 25.0525 5.95942 25.3334 6.66667 25.3334Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h4 class="text-lg ml-3">contact@nourrisson-diffusion.com</h4>
            </a>
            <!-- <a href="tel:" class="flex items-center mb-3" data-aos="zoom-in-right">
                <svg class="w-8 h-8" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.78105 4.78105C4.28095 5.28115 4 5.95942 4 6.66667V8C4 19.0453 12.9547 28 24 28H25.3333C26.0406 28 26.7189 27.719 27.219 27.219C27.719 26.7189 28 26.0406 28 25.3333V20.9613C28.0001 20.6814 27.912 20.4085 27.7483 20.1814C27.5846 19.9543 27.3536 19.7845 27.088 19.696L21.0973 17.6987C20.7929 17.5975 20.4621 17.6094 20.1658 17.7324C19.8695 17.8553 19.6274 18.081 19.484 18.368L17.9773 21.3773C14.7126 19.9022 12.0978 17.2874 10.6227 14.0227L13.632 12.516C13.919 12.3726 14.1447 12.1305 14.2676 11.8342C14.3906 11.5379 14.4025 11.2071 14.3013 10.9027L12.304 4.912C12.2156 4.64661 12.046 4.41574 11.8191 4.25207C11.5923 4.0884 11.3197 4.00021 11.04 4H6.66667C5.95942 4 5.28115 4.28095 4.78105 4.78105Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <h4 class="text-lg ml-3">06.23.77.82.32</h4>
            </a> -->
            <div class="flex items-center mb-3" data-aos="zoom-in-right">
                <svg class="w-8 h-8" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.5426 22.2092L17.8853 27.8665C17.6378 28.1142 17.3441 28.3106 17.0207 28.4447C16.6973 28.5787 16.3507 28.6477 16.0006 28.6477C15.6505 28.6477 15.3039 28.5787 14.9805 28.4447C14.6571 28.3106 14.3633 28.1142 14.1159 27.8665L8.45726 22.2092C6.96555 20.7174 5.9497 18.8168 5.53817 16.7477C5.12664 14.6786 5.33791 12.5339 6.14526 10.5848C6.95261 8.63578 8.31979 6.96991 10.0739 5.79786C11.828 4.62582 13.8903 4.00024 15.9999 4.00024C18.1096 4.00024 20.1718 4.62582 21.9259 5.79786C23.6801 6.96991 25.0472 8.63578 25.8546 10.5848C26.6619 12.5339 26.8732 14.6786 26.4617 16.7477C26.0501 18.8168 25.0343 20.7174 23.5426 22.2092V22.2092Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M18.8284 17.4952C19.5786 16.745 20 15.7276 20 14.6667C20 13.6059 19.5786 12.5885 18.8284 11.8383C18.0783 11.0882 17.0609 10.6667 16 10.6667C14.9391 10.6667 13.9217 11.0882 13.1716 11.8383C12.4214 12.5885 12 13.6059 12 14.6667C12 15.7276 12.4214 16.745 13.1716 17.4952C13.9217 18.2453 14.9391 18.6667 16 18.6667C17.0609 18.6667 18.0783 18.2453 18.8284 17.4952Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h4 class="text-lg ml-3">Chalains d’uzore, FRANCE</h4>
            </div>
        </div>
        <div class="mr-16 md:block flex flex-col items-center md:w-auto w-full">
            <h2 class="text-2xl font-semibold uppercase my-8" data-aos="zoom-in-up">
                <%=trans.footer.navigate%>
            </h2>

            <a class="mb-3 block" data-aos="zoom-in-up" href="/">
                <%=trans.links.home%>
            </a>
            <a class="mb-3 block" data-aos="zoom-in-up" href="/contact">
                <%=trans.links.contact%>
            </a>
            <a class="mb-3 block" data-aos="zoom-in-up" href="/about">
                <%=trans.links.about%>
            </a>
        </div>

        <div class=" md:block flex flex-col items-center md:w-auto w-full">
            <h2 class="text-2xl font-semibold uppercase my-8" data-aos="zoom-in-left">
                <%=trans.global.categories%>
            </h2>

            <a class="mb-3 block" data-aos="zoom-in-left" href="/product/lfa-chucks">
                <%=trans.categories.cat1.title%>
            </a>
            <a class="mb-3 block" data-aos="zoom-in-left" href="/product/drill-bits">
                <%=trans.categories.cat2.title%>
            </a>
            <a class="mb-3 block" data-aos="zoom-in-left" href="/product/thread-restorers">
                <%=trans.categories.cat3.title%>
            </a>
            <a class="mb-3 block" data-aos="zoom-in-left" href="/product/milled-file">
                <%=trans.categories.cat4.title%>
            </a>
        </div>
    </div>

    <div class="bg-primary absolute bottom-0 left-0 w-full p-4  text-center  md:text-sm text-xs">
        <%=trans.footer.copyright.part1%> <span class="font-bold" id="current-year">
        </span>
            <%=trans.footer.copyright.part2%>
    </div>
</footer>